<div class="container">
  <div class="kata">
    <h1>{{ kataTitle }}</h1>
    <p><b>Kata says: </b> {{ kataDescription }} </p>
  </div>
  <section class="square-test">
    <div class="output-example">
      <h3>Output example:</h3>
      <p>{{ outputExample }}</p>
    </div>
    <h3>{{ haveToPass }}</h3>
    <ul class="test-list">
      <li *ngFor="let test of testList">{{ test }}</li>
    </ul>
  </section>

  <section class="myResults">
    <app-solution></app-solution>
  </section>

  <footer>
    <code>Made by <span [ngStyle]="{'text-decoration':'underline', 'color': 'blue'}">Rafael A. Reyes</span></code>
  </footer>
</div>
